<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">고객 그룹 관리 페이지</h1>
    <p class="mb-4">고객들의 정보를 그룹으로 생성하여 관리할 수 있습니다.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">그룹 정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <div class="col-md-6">
                    <a href="/customer/group/create" role="button" class="btn btn-primary">그룹 생성하기</a>
                </div>
                <br>

                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>그룹명</th>
                        <th>수정하기</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>번호</th>
                        <th>그룹명</th>
                        <th>수정하기</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="group : ${groups}">
                        <td th:text="${group.id}">default</td>
                        <td th:text="${group.groupName}">default</td>
                        <td><a th:href="@{/customer/group/update/{id}(id=${group.id})}" th:text="수정">default</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Page level plugins -->
    <script  th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script  th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script  th:src="@{/js/common/demo/datatables-demo.js}"></script>

</div>
</html>