<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/login_layout">

<div layout:fragment="content">
    <body class="bg-gradient-success">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
<!--                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
<!--                            <img class="col-lg-6 d-none d-lg-block" src="http://d3bro317a31qh1.cloudfront.net/humuson.jpg">-->
                            <img class="col-lg-6 d-none d-lg-block" th:src="@{/img/logo.jpg}"/>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">환영합니다</h1>
                                    </div>
                                    <input id="iswrongPW" th:value="${iswrongPW}" type="hidden">
                                    <form class="user" th:action="@{/user/login/pro}" method="post" onsubmit="return login.check();">
<!--                                        <input-->
<!--                                                type="hidden" th:name="${_csrf.parameterName}"-->
<!--                                                th:value="${_csrf.token}" />-->

                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user"
                                                   id="email" name="email" aria-describedby="emailHelp"
                                                   placeholder="이메일을 입력하세요.">
<!--                                                   placeholder="이메일을 입력하세요." value="12@naver.com">-->

                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="password" name="password" placeholder="비밀번호를 입력하세요.">
<!--                                            value="12">-->
                                        </div>
                                        <button type="submit" class="btn btn-success btn-user btn-block">
                                            로그인
                                        </button>
                                        <!--
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>
                                        !-->
                                    </form>
                                    <hr>
                                    <!--
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Forgot Password?</a>
                                    </div>
                                    -->
                                    <form class="user" th:action="@{/user/sign-up}">
                                        <button type="submit" class="btn btn-warning btn-user btn-block">
                                            회원가입
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    </body>

    <!--custom 스크립트 -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/app/login.js}"></script>
    </th:block>

</div>
</html>