<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/login_layout">
<div layout:fragment="content">
    <body class="bg-gradient-success">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
        <!--                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>-->
                            <img class="col-lg-6 d-none d-lg-block" th:src="@{/img/logo.jpg}"/>
                            <div class="col-lg-6">
                                <div class="p-5 align-content-center">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">회원 등록</h1>
                                    </div>
                                    <input id="checkEmail" th:value="${checkEmail}" type="hidden">
                                    <form class="user" th:action="@{/user/sign-up}" method="post" onsubmit="return signup.check();">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="username"
                                                   name="username" placeholder="이름" th:value="${username}">
                                        </div>

                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" id="email"
                                                   name="email" placeholder="이메일" th:value="${email}">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   name="password" id="password" placeholder="비밀번호">
                                        </div>
                                        <!--                                -->
                                        <!--                                <div class="form-group row">-->
                                        <!--                                    <div class="col-sm-6 mb-3 mb-sm-0">-->
                                        <!--                                        <input type="password" class="form-control form-control-user"-->
                                        <!--                                               name="password" id="password" placeholder="Password">-->
                                        <!--                                    </div>-->
                                        <!--                                    <div class="col-sm-6">-->
                                        <!--                                        <input type="password" class="form-control form-control-user"-->
                                        <!--                                               id="repeat-password" placeholder="Repeat Password">-->
                                        <!--                                    </div>-->
                                        <!--                                </div>-->
                                        <!--                                -->
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="phoneNumber"
                                                   name="phoneNumber" placeholder="핸드폰 번호" th:value="${phoneNumber}">
                                        </div>

                                        <button type="submit" class="btn btn-success btn-user btn-block">등록하기</button>

                                        <!-- google, facebook login -->
                                        <!--
                                        <hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Register with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                        </a>
                                        -->
                                    </form>
                                    <hr>
                                    <form class="user" th:action="@{/user/login}">
                                        <button type="submit" class="btn btn-warning btn-user btn-block">
                                            뒤로가기
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <th:block layout:fragment="script">
        <script th:src="@{/js/app/sing-up.js}"></script>
    </th:block>
</div>
</html>
