<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--configFragment 선언-->
<th:block th:fragment="configJsFragment">

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/common/sb-admin-2.js}"></script>
    <script th:src="@{/js/app/send.js}"></script>


<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script src="vendor/chart.js/Chart.min.js"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script src="js/demo/chart-area-demo.js"></script>-->
<!--    <script src="js/demo/chart-pie-demo.js"></script>-->

<!--    &lt;!&ndash; Content Page의 CSS fragment 삽입 &ndash;&gt;-->
<!--    <th:block layout:fragment="css">-->
<!--        <link rel="stylesheet" th:href="@{/css/common/sb-admin-2.min.css}">-->
<!--    </th:block>-->

<!--    &lt;!&ndash; Content Page의 script fragment 삽입 &ndash;&gt;-->
<!--    <th:block layout:fragment="script">-->
<!--        <script th:src="@{/js/common/sb-admin-2.js}"></script>-->
<!--    </th:block>-->

</th:block>
</html>