<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

    <!--configFragment 선언-->
    <div th:fragment="configCssFragment">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">





        <!-- common css insert -->
        <link rel="stylesheet" th:href="@{/css/common/sb-admin-2.min.css}">
        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!--        &lt;!&ndash; Content Page의 CSS fragment 삽입 &ndash;&gt;-->
<!--        <th:block layout:fragment="css">-->
<!--            <link rel="stylesheet" th:href="@{/css/common/sb-admin-2.min.css}">-->
<!--        </th:block>-->

<!--        &lt;!&ndash; Content Page의 script fragment 삽입 &ndash;&gt;-->
<!--        <th:block layout:fragment="script">-->
<!--            <script th:src="@{/js/common/sb-admin-2.js}"></script>-->
<!--        </th:block>-->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>


    </div>
</html>