<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<!--configFragment 선언-->
<th:block th:fragment="configJsFragment">
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <!-- Core plugin JavaScript-->
    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/common/sb-admin-2.js}"></script>
</th:block>
</html>