<!--
layout:decorator : "layout" 은 layout을 상속받는다.
layout에 있는 content fragment자리에 아래이 content fragment를 끼워넣음-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">알림톡 메세지 발송 작성</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <!--  발송 데이터 유형 버튼 -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">단일 발송</h6>
                </div>
                <div class="card-body">
                    <p>한 분에게 메시지를 보냅니다.</p>
                    <a href="/send/single-msg/save/at" role="button" class="btn btn-success">단일 발송하기</a>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">대량 발송</h6>
                </div>
                <div class="card-body">
                    <p>두 분 이상의 고객에게 메시지를 대량으로 보냅니다. </p>
                    <p>고객들의 정보를 업로드하는 방식에는 세가지가 있습니다.</p>
                    <p>텍스트 파일, CSV파일, 사전에 등록해 놓은 주소록을 통해 고객 정보를 업로드 합니다.</p>
                    <a href="/send/multi-msgs/save/at" role="button" class="btn btn-success">대량 발송하기</a>
                </div>
            </div>

        </div>`

    </div>
    <!--  End of 발송 데이터 유형 버튼 -->

</div>
</html>
