<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.springframework.org/schema/security"
      layout:decorator="layout/login_layout">

<div layout:fragment="content">
    <span sec:authentication="name">name</span>님 환영합니다~<br />
    <span sec:authentication="principal">pp</span><br />
    HasRole(USER): <span sec:authorize="hasRole('ROLE_USER')">YES</span><br />
    HasRole(ADMIN): <span sec:authorize="hasRole('ROLE_ADMIN')">YES</span>
</p>
<a th:href="@{'/'}">메인으로 이동</a>
</div>
</html>

