<!DOCTYPE html>

<html lagn="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8" />
        <title>Login</title>

        <th:block th:replace="fragment/configCss :: configCssFragment" ></th:block>
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    </head>
    
    <body>
        <th:block layout:fragment="content"></th:block>
        <th:block th:replace="fragment/configJs :: configJsFragment"></th:block>
    </body>

</html>