<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">
<div layout:fragment="content">

<h1 class="h3 mb-1 text-gray-800">예약 메시지 수정</h1>
<p class="mb-4">발송 예약한 메시지를 조회하는 페이지 입니다. 이미 발송 시간이 지난 메시지는 수정이 불가합니다.</p>
<div class="col-md-12">
    <form>
        <div class="form-group">
            <strong>번호</strong>
            <input type="text" class="form-control" id="id" th:value="${msg.id}" readonly>
        </div>

        <div>
            <strong>템플릿 코드</strong>
            <select id="templateCode" class="custom-select" th:value="${msg.templateCode}">
                <option  disabled selected th:text="${msg.templateCode}"></option>
                <tr th:each="templateCode : ${templateCodes}">
                    <option th:text="${templateCode.templateCode}" th:selected="${msg.templateCode==templateCode.templateCode}">default</option>
                </tr>
            </select>
        </div>
        <br>

        <div>
            <strong>발송 일시</strong>
            <p>수정 전 발송 일시</p>
            <input type="text" class="form-control" id="reservedDate" th:value="${msg.reservedDate}" readonly>
            <p>수정 후 발송 일시</p>
            <input type="text" id="datePicker" class="form-control" >
            <input type="time" id="time" class="form-control" value="10:00" min="00:00:00" max="23:59:59">
        </div>
        <br>

        <div>
            <strong>메시지 내용</strong>
            <input type="text" class="form-control input-lg" id="msg" th:value="${msg.msg}" th:placeholder="${msg.msg}">
        </div>
        <br>

        <div>
            <strong>전화번호</strong>
            <input type="text" class="form-control" id="phoneNumber" th:value="${msg.phoneNumber}" th:placeholder="${msg.phoneNumber}">
        </div>
        <br>

    </form>
    <a th:href="@{/send/{msgjs}-record(msgjs=${msgSbj})}" role="button" class="btn btn-secondary">취소</a>
    <button type="button" class="btn btn-success" id="btn-update">수정 완료</button>
    <button type="button" class="btn btn-warning" id="btn-delete">삭제</button>
</div>

    <!--custom 스크립트 -->
    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/scss/bootstrap-datepicker.min.css}">
        <script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/js/app/{msgjs}Send.js(msgjs=${msgSbj})}"></script>
    </th:block>
</div>


</html>
