<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default_layout">

<div layout:fragment="content">
<!--    &lt;!&ndash; Begin Page Content &ndash;&gt;-->
<!--    <div class="container-fluid">-->

<!--        &lt;!&ndash; Page Heading &ndash;&gt;-->
<!--        <h1 class="h3 mb-2 text-gray-800">알림톡 대량 발송 리스트</h1>-->

<!--        &lt;!&ndash; DataTales Example &ndash;&gt;-->
<!--        <div class="card shadow mb-4">-->
<!--            <div class="card-header py-3">-->
<!--                <h6 class="m-0 font-weight-bold text-success">발송 이력 조회 테이블</h6>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <div class="table-responsive">-->
<!--                    <table class="table table-bordered" id="dataTable" width="100%" >-->
<!--                        <thead>-->
<!--                        <tr>-->
<!--                            <th>발송 일시</th>-->
<!--                            <th>메시지 관리명</th>-->
<!--                            <th>템플릿 코드</th>-->
<!--                            <th>메세지 내용</th>-->
<!--                            <th>건수</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tfoot>-->
<!--                        <tr>-->
<!--                            <th>발송 일시</th>-->
<!--                            <th>메시지 관리명</th>-->
<!--                            <th>템플릿 코드</th>-->
<!--                            <th>메세지 내용</th>-->
<!--                            <th>건수</th>-->
<!--                        </tr>-->
<!--                        </tfoot>-->
<!--                        <tbody>-->
<!--                        <tr  th:each="msg : ${msgs}">-->
<!--                            <td th:text="|${msg.reservedDate.substring(0,4)}년 ${msg.reservedDate.substring(4,6)}월-->
<!--                            ${msg.reservedDate.substring(6,8)}일  ${msg.reservedDate.substring(8,10)}시-->
<!--                            ${msg.reservedDate.substring(10,12)}분|">-->
<!--                                default</td>-->
<!--                            <td th:text="${msg.campName}">default</td>-->
<!--                            <td th:text="${msg.templateInfo.templateName}">default</td>-->
<!--                            <td style="text-overflow:ellipsis; overflow:hidden; white-space:nowrap;"-->
<!--                                th:text="${msg.msg}">default</td>-->
<!--                            <td th:text="${msg.count}">default</td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--    &lt;!&ndash; /.container-fluid &ndash;&gt;-->

    <script>
        $(document).ready(function() {
            alert("준비중입니다.")
            // $('#dataTable').DataTable( {
            //     "ordering": false,
            //     autoWidth: false, //step 1
            //     columnDefs: [
            //         { width: '250px', targets: 0 }, //step 2, column 1 out of 4
            //         { width: '200px', targets: 1 }, //step 2, column 2 out of 4
            //         { width: '200px', targets: 2 },  //step 2, column 3 out of 4
            //         { width: '200px', targets: 3 },  //step 2, column 4 out of 4
            //         { width: '60px', targets: 4 },  //step 2, column 3 out of 4
            //     ],
            //     columns: [
            //         null,null,null,
            //             {
            //                 "data": "Comment",
            //                 "render": function (data, type, full, meta) {
            //                     return '<span data-toggle="tooltip" data-placement="right"   title="' + data + '">' + data + '</span>';
            //                 },
            //                 targets :  3
            //             }
            //     ],
            //     destroy: true
            //
            // });
        } );
        // $('#dataTable').on('draw.dt', function () {
        //     console.log("draw")
        //     $('[data-toggle="tooltip"]').tooltip();
        // });
    </script>

<!--    &lt;!&ndash; Page level plugins &ndash;&gt;-->
<!--    <script  th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>-->
<!--    <script  th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>-->

<!--    &lt;!&ndash; Page level custom scripts &ndash;&gt;-->
<!--    <script  th:src="@{/js/common/demo/datatables-demo.js}"></script>-->

<!--    <style>-->
<!--        .dataTable{-->
<!--            table-layout:fixed;-->
<!--        }-->
<!--    </style>-->

</div>
</html>