<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"

      layout:decorator="layout/default_layout">

<div layout:fragment="content">
    <h1 class="h3 mb-1 text-gray-800">단일 알림톡 발송</h1>
    <p class="mb-4">한 고객에게 메시지를 발송합니다.</p>

    <div class="row">
        <div class="col-md-12">
            <div class="col-lg-6">
                <div class="card position-relative">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">메시지 작성</h6>
                    </div>
                    <div class="card-body">
                        <label> 템플릿 코드
                            <select id="templateCode" class="custom-select">
                                <option value="" disabled selected>템플릿 코드를 선택하세요.</option>
                                <tr th:each="templateCode : ${templateCodes}">
                                    <option th:text="${templateCode.templateCode}">default</option>
                                </tr>
                            </select>
                        </label>
                        <label>
                            발송 일시
                            <input type="text" id="datePicker" class="form-control" >
                        </label>
                        <input type="time" id="time" value="10:00" min="00:00:00" max="23:59:59">
                        <label>
                            메시지 내용
                            <input type="text" class="form-control" id="msg" placeholder="내용을 입력하세요">
                        </label>
                        <label for="phoneNumber"> 전화번호
                            <input type="text" class="form-control" id="phoneNumber" placeholder="전화번호를 입력하세요">
                        </label>
                        <div>
                            <a href="/" role="button" class="btn btn-secondary">취소</a>
                            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
                        </div>
                    </div>
                </div>

            </div>

<!--                <div class="col-md-4">-->
<!--                    <form>-->
<!--                        <div class="form-group">-->
<!--                            <label for="msg"> 메세지 내용 </label>-->
<!--                            <input type="text" class="form-control" id="msg" placeholder="제목을 입력하세요">-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label for="phoneNumber"> 전화번호 </label>-->
<!--                            <input type="text" class="form-control" id="phoneNumber" placeholder="작성자를 입력하세요">-->
<!--                        </div>-->
<!--                    </form>-->
<!--            &lt;!&ndash;        TODO : 취소하면 이전 페이지로 이동하게 설정할 것 &ndash;&gt;-->
<!--                    <a href="/" role="button" class="btn btn-secondary">취소</a>-->
<!--                    <button type="button" class="btn btn-primary" id="btn-save">등록</button>-->
<!--                </div>-->
        </div>
    </div>
    <!--custom 스크립트 -->
    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/scss/bootstrap-datepicker.min.css}">
        <script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker.min.js}"></script>
        <script th:src="@{/js/app/{msgjs}Send.js(msgjs=${msg})}"></script>
    </th:block>
</div>
</html>
