<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"

      layout:decorator="layout/default_layout">

<div layout:fragment="content">
    <h1 class="h3 mb-1 text-gray-800">알림톡 대량 발송 예약</h1>
    <p class="mb-4">알림톡 대량 발송 예약 페이지입니다.</p>

        <form th:object="${atCampaign}">
            <div>
                <strong>메시지 관리명</strong>
                <input type="text" class="form-control col-md-8 input-lg" id="campName" placeholder="메시지 관리명을 입력하세요." th:field="*{campName}">
            </div>
            <br>
            <div class="row">

                <div class="col-md-4">
                    <div class="card position-relative">


                        <div class="card-body py-3">
                            <h4 id="msg-type" class="m-0 font-weight-bold text-warning">알림톡</h4>
                        </div>
                        <div class="card-body py-1">
                            <input type="text" th:field="*{senderName}" class="form-control bg-light border-0" placeholder="발신프로필 키" readonly>
                            <input  th:field="*{senderKey}" class="form-control bg-light border-0" placeholder="발신프로필 키" type="hidden">
                        </div>
                        <div class="card-body py-1">
                            <strong>템플릿</strong>
                            <select id="templateContent" name="templateContent" class="custom-select" >
                                <option value="default" disabled selected>템플릿을 선택하세요.</option>
                                <tr th:each="templateCode : ${templateCodes}">
                                    <option th:text="${templateCode.templateName}" th:value="${templateCode.templateContent}">default</option>
                                </tr>
                            </select>
                        </div>

                        <div class="card-body py-1">
                            <textarea id="msg" class="form-control bg-light border-0" th:field="*{msg}"
                                      placeholder="보내실 메시지를 입력해 주세요." rows="10" maxlength="2000" readonly></textarea>
                        </div>

                        <div class="card-body py-1 text-align-right">
                            <span id="byte-count" class="m-0 font-weight-bold text-success">0</span>
                            <span id="byte-limit" class="m-0 font-weight-bold text-success">/ 1000 자</span>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card position-relative">
                        <div class="card-body">

                            <div class="row">
                                <div class="col-md-12 mb-1">
                                    <div class="card bg-warning text-center text-white shadow">
                                        <span class="text">고객 정보 불러오기</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card btn btn-warning bg-light text-black-50 shadow">
                                        <span class="text" data-toggle="modal" data-target=".bd-example-modal-lg">주소록</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div class="card btn btn-warning bg-light text-black-50 shadow">
                                        <span id="btn-phoneNumber" class="text">csv / txt</span>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-1">
                                    <div class="card bg-warning text-center text-white shadow">
                                        <span class="text">발송 시간 설정</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div id="send-immediate" class="card btn btn-dark bg-gray-400 text-black-50 shadow">
                                        <span class="text">즉시</span>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">
                                    <div id="send-reserve" class="card btn btn-dark bg-light text-black-50 shadow">
                                        <span class="text">예약</span>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-1">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <span>날짜</span>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="text" id="datepicker" class="text bg-gray-400" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 mb-5">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <span>시간</span>
                                        </div>
                                        <div class="col-md-9">
                                            <input type="time" id="time" class="text bg-gray-400" value="10:00" min="00:00:00" max="23:59:59" readonly>
                                        </div>
                                    </div>
                                </div>

                                <input type="hidden" id="reservedDate" th:field="*{reservedDate}">

                                <div class="col-md-3">
                                    <div class="card btn btn-success bg-light text-black-50 shadow">
                                        <span class="text" id="btn-save">발송하기</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div id= "customersModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="container-fluid">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">주소록</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="card position-relative">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-success">그룹</h6>
                                                </div>
                                                <div style="height:500px; overflow-y:scroll">
                                                    <table class="table table-hover table-sm" id="inputGroupTable" width="100%" cellspacing="0">
                                                        <thead>
                                                        <tr>
<!--                                                            <th class = "checkbox eleCbx"><input name="groupChkAll" type="checkbox" id="groupChkAll"></th>-->
                                                            <th>그룹명</th>
                                                            <th>고객 수</th>
                                                        </tr>
                                                        </thead>
    <!--                                                                                    <tbody>-->
    <!--                                                                                    <tr th:each="customer : ${customerList}">-->
    <!--                                                                                        <td><input type="checkbox" name = "customers" th:value="${customer.id}"> </td>-->
    <!--                                                                                        <td th:text="${customer.userId}">default</td>-->
    <!--                                                                                        <td th:text="${customer.name}">default</a></td>-->
    <!--                                                                                        <td th:text="${customer.phoneNumber}">default</td>-->
    <!--                                                                                        <td th:text="${customer.address}">default</td>-->
    <!--                                                                                    </tr>-->
    <!--                                                                                    </tbody>-->
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="card position-relative">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-success">고객</h6>
                                                </div>
                                                <div style="height:500px; overflow-y:scroll">

                                                    <table class="table table-hover table-sm" id="inputCustomerTable" width="100%" cellspacing="0">
                                                        <thead>
                                                        <tr>
                                                            <th class = "checkbox"><input name="customerChkAll" type="checkbox" id="customerChkAll"></th>
                                                            <th>성함</th>
                                                            <th>전화번호</th>
                                                        </tr>
                                                        </thead>
                                                        <!--                                <tbody>-->
                                                        <!--                                <tr th:each="customer : ${customerList}">-->
                                                        <!--                                    <td><input type="checkbox" name = "customers" th:value="${customer.id}"> </td>-->
                                                        <!--                                    <td th:text="${customer.userId}">default</td>-->
                                                        <!--                                    <td th:text="${customer.name}">default</a></td>-->
                                                        <!--                                    <td th:text="${customer.phoneNumber}">default</td>-->
                                                        <!--                                    <td th:text="${customer.address}">default</td>-->
                                                        <!--                                </tr>-->
                                                        <!--                                </tbody>-->
                                                    </table>
                                                </div>
                                            </div>
<!--                                            <div>-->
<!--                                                <div>-->
<!--                                                    <strong>선택된 고객 수</strong>-->
<!--                                                    <div id="selectedCustomerCount2">0</div>-->
<!--                                                </div>-->
<!--                                                <br>-->

<!--                                                <button type="button" class="btn btn-primary" id="btn-customerChkOK">확인</button>-->
<!--                                                <button type="button" class="btn btn-primary" id="btn-customerChkCancel">취소</button>-->
<!--                                            </div>-->
<!--                                            &lt;!&ndash;                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">&ndash;&gt;-->


<!--                                            <table class="table table-sm" id="inputCustomerTable" width="100%" cellspacing="0">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th class = "checkbox"><input name="customerChkAll" type="checkbox" id="customerChkAll"></th>-->
<!--                                                    <th>고객 아이디</th>-->
<!--                                                    <th>성함</th>-->
<!--                                                    <th>전화번호</th>-->
<!--                                                    <th>주소</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                &lt;!&ndash;                                <tbody>&ndash;&gt;-->
<!--                &lt;!&ndash;                                <tr th:each="customer : ${customerList}">&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <td><input type="checkbox" name = "customers" th:value="${customer.id}"> </td>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <td th:text="${customer.userId}">default</td>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <td th:text="${customer.name}">default</a></td>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <td th:text="${customer.phoneNumber}">default</td>&ndash;&gt;-->
<!--                &lt;!&ndash;                                    <td th:text="${customer.address}">default</td>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </tr>&ndash;&gt;-->
<!--                &lt;!&ndash;                                </tbody>&ndash;&gt;-->
<!--                                            </table>-->
                                        </div>
                                        <div class="col-md-4">
                                            <div class="card position-relative">
                                                <div class="card-header py-3">
                                                    <h6 class="m-0 font-weight-bold text-success">받는 사람</h6>
                                                </div>
<!--                                                <input th:type="hidden" th:field="*{customers}">-->
                                                <div style="height:500px; overflow-y:scroll">
                                                    <ul id="recipientsGroupList">
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>


                                    </div> <!-- end of class row -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btn-customerChkOK">확인</button>
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div><!-- end of madal content-->
                        </div>
                    </div> <!-- End of modal class-->


                    <div id= "csvCustomersModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="container-fluid">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="fileCustomersModalLabel">csv/txt 파일 미리보기</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="row">
                                        <table id="csvCustomers" class="table table-bordered" width="100%" cellspacing="0">
                                            <thead class="thead-strong">
                                            <tr>
                                                <th>순서</th>
                                                <th>아이디</th>
                                                <th>이름</th>
                                                <th>전화번호</th>
                                                <th>주소</th>
                                            </tr>
                                            </thead>
                                            <tbody id="tbody">
                                            <tr th:each="customer : ${customers}">
                                                <td th:text="${customer.id}">default</td>
                                                <td th:text="${customer.userId}">default</td>
                                                <td th:text="${customer.name}">default</td>
                                                <td th:text="${customer.phoneNumber}">default</td>
                                                <td th:text="${customer.address}">default</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div> <!-- end of class row -->
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                                    </div>
                                </div>
                            </div><!-- end of madal content-->
                        </div>
                    </div> <!-- End of modal class-->

                </div>
            </div>

        </form>


    <!-- Page level plugins -->
    <script  th:src="@{/vendor/datatables/jquery.dataTables.min.js}"></script>
    <script  th:src="@{/vendor/datatables/dataTables.bootstrap4.min.js}"></script>

    <!-- Page level custom scripts -->
    <script  th:src="@{/js/common/demo/datatables-demo.js}"></script>

    <!--custom 스크립트 -->
    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/scss/bootstrap-datepicker.min.css}">
        <script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/custom.css}">
        <script th:src="@{/js/app/atMsgsSend.js}"></script>
<!--        <script th:src="@{/js/app/{msgjs}Send.js(msgjs=${msg})}"></script>-->
    </th:block>
</div>
</html>
