<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"

      layout:decorator="layout/default_layout">

<div layout:fragment="content">
    <h1 class="h3 mb-1 text-gray-800">문자</h1>
    <p class="mb-4">문자 발송 페이지 입니다.</p>

    <div class="row">

        <div class="col-md-4">
            <div class="card position-relative">
                <div class="card-body py-3">
                    <h4 id="msg-type" class="m-0 font-weight-bold text-success">SMS</h4>
                </div>
                <div class="card-body py-1">
                    <strong>광고 문구 표시 여부</strong>
                    <input id="adFlag" type="checkbox" name="adFlag" value="Y">
                </div>
                <div class="card-body py-1">
                    <input type="text" th:value="${sendNumber}" class="form-control bg-light border-0" placeholder="발신 번호" readonly>
                </div>
                <div class="card-body py-1">
                    <input type="text" class="form-control bg-light border-0" placeholder="제목 입력">
                </div>
                <div class="card-body py-1">
                    <textarea id="msg-text" class="form-control bg-light border-0" placeholder="보내실 메시지를 입력해 주세요." rows="10" maxlength="2000"></textarea>
                </div>
                <div class="card-body py-1 text-align-right">
                    <span id="byte-count" class="m-0 font-weight-bold text-success">0</span>
                    <span id="byte-limit" class="m-0 font-weight-bold text-success">/ 80 byte</span>
                </div>
                <div class="card-body py-1 row text-align-center" >
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-name" value="#{이름}">이름</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-userId" value="#{고객아이디}">고객 아이디</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-phoneNumber" value="#{전화번호}">전화번호</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-address" value="#{주소}">주소</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-1" value="#{변수1}">변수1</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-2" value="#{변수2}">변수2</a>
                    <a class="vars btn col-md-3 background-gray-color remove-radius border-dark" id="var-3" value="#{변수3}">변수3</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
           <!-- <div class="card position-relative py-2 text-align-center font-size-18">
                <span class="card-body py-2 background-dgray-color text-white remove-radius"><b>고객 정보 불러오기</b></span>
                <div class="card-body py-2 row background-gray-color margin-zero">
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>주소록</b></span>
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>엑셀</b></span>
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>텍스트</b></span>
                </div>
                <span class="card-body py-2 background-dgray-color text-white remove-radius"><b>고객 정보 다운로드</b></span>
                <div class="card-body py-2 row background-gray-color margin-zero">
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>주소록</b></span>
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>엑셀</b></span>
                    <span class="btn font-weight-bold col-md-4 text-gray-700"><b>텍스트</b></span>
                </div>
                <span class="card-body py-2 background-dgray-color text-white remove-radius"><b>발송 시간 설정</b></span>
                <div class="card-body py-2 row background-gray-color margin-zero">
                    <span id="send-immediate" class="btn font-weight-bold col-md-6 text-gray-700"><b>즉시</b></span>
                    <span id="send-reserve" class="btn font-weight-bold col-md-6 text-gray-700"><b>예약</b></span>
                </div>
                <div class="card-body py-2">
                    <div class="col-md-10 row">
                        <span class="font-weight-bold col-md-4 text-right">날짜</span>
                        <input type="text" id="datepicker" class="form-control col-md-7 background-dgray-color" readonly>
                    </div>
                </div>
                <div class="card-body py-2">
                    <div class="col-md-10 row">
                        <span class="font-weight-bold col-md-4 text-right">시간</span>
                        <input type="time" id="time" class="form-control col-md-7 background-dgray-color" value="10:00" min="00:00:00" max="23:59:59" readonly>
                    </div>
                </div>
            </div>

            <div class="card-body py-2">
                <button id="send-button" class="btn btn-success">발송하기</button>
&lt;!&ndash;                <a class="btn btn-warning" href="/">뒤로가기</a>&ndash;&gt;
            </div>-->

            <div class="row">

                <div class="col-md-12 mb-1">
                    <div class="card bg-success text-center text-white shadow">
                        <span class="text">불러오기</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">주소록</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">엑셀</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">텍스트</span>
                    </div>
                </div>

                <div class="col-md-12 mb-1">
                    <div class="card bg-success text-center text-white shadow">
                        <span class="text">저장하기</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">주소록</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">엑셀</span>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">텍스트</span>
                    </div>
                </div>

                <div class="col-md-12 mb-1">
                    <div class="card bg-success text-center text-white shadow">
                        <span class="text">발송 시간 설정</span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div id="send-immediate" class="card btn btn-success bg-secondary text-black-50 shadow">
                        <span class="text">즉시</span>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <div id="send-reserve" class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">예약</span>
                    </div>
                </div>

                <div class="col-md-12 mb-1">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <span>날짜</span>
                        </div>
                        <div class="col-md-9">
                            <input type="text" id="datepicker" class="text bg-secondary" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-5">
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <span>시간</span>
                        </div>
                        <div class="col-md-9">
                            <input type="time" id="time" class="text bg-secondary" value="10:00" min="00:00:00" max="23:59:59" readonly>
                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card btn btn-success bg-light text-black-50 shadow">
                        <span class="text">발송하기</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card btn btn-warning bg-light text-black-50 shadow">
                        <span class="text">뒤로가기</span>
                    </div>
                </div>

            </div>



        </div>
    </div>


    <!--custom 스크립트 -->
    <th:block layout:fragment="script">
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/scss/bootstrap-datepicker.min.css}">
        <script th:src="@{/vendor/bootstrap/js/bootstrap-datepicker.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/custom.css}">
        <script th:src="@{/js/app/mtMsgsSend.js}"></script>
<!--        <script th:src="@{/js/app/{msgjs}Send.js(msgjs=${msg})}"></script>-->
    </th:block>
</div>
</html>
